@use "../01-config/config" as *;

.u-color-red {
  color: red;
}

.u-color-gray,
.u-text-gray {
  color: $text-color-gray;
}

.u-color-gray {
  color: $text-color-gray;
}

.u-bg-gray {
  background-color: $bg-color-gray;
}
