.u-d-flex,
.u-d-f {
  display: flex;
}

.u-d-iflex,
.u-d-if {
  display: inline-flex;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-fd-column {
  flex-direction: column;
}

.u-flex-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.u-ai-center {
  align-items: center;
}

.u-ai-start {
  align-items: start;
}

.u-ai-end {
  align-items: end;
}

.u-jc-center {
  justify-content: center;
}

.u-jc-sb {
  justify-content: space-between;
}

.u-flex-1 {
  flex: 1;
}

.u-fg-1,
.u-flex-grow {
  flex-grow: 1;
}

.u-fg-child,
.u-flex-grow-child {
  > * {
    flex-grow: 1;
  }
}

.u-gap-8 {
  gap: 8px;
}

.u-gap-16 {
  gap: 16px;
}

.u-gap-24 {
  gap: 24px;
}

.u-gap-32 {
  gap: 32px;
}

.u-gap-16-32 {
  gap: 16px 32px;
}

.u-gap-32-16 {
  gap: 32px 16px;
}
