@use "../01-config/config" as *;

.u-mb-0 {
  margin: 0;
}

.u-mb-2 {
  margin-bottom: 2px;
}

.u-mb-4 {
  margin-bottom: 4px;
}

.u-mb-6 {
  margin-bottom: 6px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mb-12 {
  margin-bottom: 12px;
}

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mb-32 {
  margin-bottom: 32px;
}

.u-mb-36 {
  margin-bottom: 36px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-mb-48 {
  margin-bottom: 48px;
}

.u-mb-56 {
  margin-bottom: 56px;
}

.u-mb-62 {
  margin-bottom: 62px;
}

.u-mb-16-not-last-child:not(:last-child) {
  margin-bottom: 16px;
}
