@use "../01-config/config" as *;

.u-pt-0 {
  padding-top: 0;
}

.u-pt-8 {
  padding-top: 8px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pt-12 {
  padding-top: 12px;
}

.u-pt-16 {
  padding-top: 16px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pt-24 {
  padding-top: 24px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pt-32 {
  padding-top: 32px;
}

.u-pt-36 {
  padding-top: 36px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-pt-48 {
  padding-top: 48px;
}

.u-pt-56 {
  padding-top: 56px;
}

.u-pt-62 {
  padding-top: 62px;
}
