@use "../01-config/config" as *;

.u-text-normal {
  font-weight: normal;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-uppercase,
.u-text-upcase {
  text-transform: uppercase;
}

.u-text-lowercase,
.u-text-downcase {
  text-transform: lowercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-linethrough {
  text-decoration: line-through;
}

.u-no-underline,
.u-text-underline-none {
  text-decoration: none;
}

.u-underline,
.u-text-underline {
  text-decoration: underline;
}

.u-letter-spacing-1,
.u-text-ls-1 {
  letter-spacing: 1px;
}

.u-text-nowrap {
  white-space: nowrap;
}
