@use "../01-config/config" as *;

.u-w-auto {
  width: auto;
}

.u-w-full {
  width: 100%;
}

.u-w-20 {
  width: 20px;
}

.u-minw-auto {
  min-width: auto;
}

.u-minw-150 {
  min-width: 150px;
}

.u-maxw-600 {
  max-width: 600px;
}
