@use "../01-config/config" as *;

@use "./margin";
@use "./padding";
@use "./flex";
@use "./color";
@use "./grid";
@use "./show-hide";
@use "./text";
@use "./typography";
@use "./width";
@use "./height";

.u-object-cover {
  object-fit: cover;
}

.u-position-relative {
  position: relative;
}

.u-table-wrapper {
  display: block;
  overflow: auto;
  width: 100%;
}

.u-d-none,
.u-hidden {
  display: none;
}
