@import "./margin";
@import "./padding";
@import "./flex";
@import "./color";
@import "./grid";
@import "./show-hide";
@import "./text";
@import "./typography";
@import "./width";
@import "./height";

.u-object-cover {
  object-fit: cover;
}

.u-position-relative {
  position: relative;
}

.u-table-wrapper {
  display: block;
  overflow: auto;
  width: 100%;
}

.u-d-none {
  display: none;
}
