*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

body {
  display: flex;
  flex-direction: column;
  font: normal 400 16px/1.5 var(--base-font);
  margin: 0;
  min-height: 100vh;

  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

p {
  color: $text-color-gray;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

a {
  color: #000;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  display: block;
  font: normal 400 16px/1.5 var(--base-font);
  min-height: 44px;
  padding: 6px 12px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-color-gray;
    font: normal 400 16px/1.5 var(--base-font);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-color-gray;
    font: normal 400 16px/1.5 var(--base-font);
  }
  &::-ms-input-placeholder {
    /* IE 10+ */
    color: $text-color-gray;
    font: normal 400 16px/1.5 var(--base-font);
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $text-color-gray;
    font: normal 400 16px/1.5 var(--base-font);
  }
}

textarea {
  min-height: 150px;
  resize: vertical;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $border-color;
  padding: 8px 16px;
  text-align: left;
}

th {
  white-space: nowrap;
}

thead {
  border-bottom: 1px solid #ddd;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  color: $text-color-gray;
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 6px;
  text-transform: uppercase;
  white-space: nowrap;
}

[x-cloak] {
  display: none !important;
}

.sr-only {
  @include sr-only;
}
