@use "../01-config/config" as *;

.swiper {
  width: 100%;
  height: 400px;

  @media (min-width: 768px) {
    height: 600px;
  }

  .swiper-wrapper {
    z-index: $swiper_wrapper_z_index;
  }

  .swiper-slide {
    > img,
    > iframe,
    > video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: top;
    }

    > iframe,
    > video {
      position: relative;
      z-index: 1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    display: grid;
    z-index: $swiper_nav_z_index;

    &:after,
    &:after {
      color: #000;
      font-size: 24px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #000;
  }
}
