<div class="c-section-template-password__content u-py-32">
  <div class="l-wrap-700">
    <h1 class="u-mb-24">Our site is temporarily down!</h1>
    <p>Please check after 5 PM your time</p>
  </div>
</div>

{% schema %}
{
  "name": "Template Password",
  "tag": "section",
  "class": "c-section-template-password u-flex-center u-text-center",
  "settings": []
}
{% endschema %}
