:root {
  --base-font: Intervogue, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --header-min-height: 80px;
}

@font-face {
  font-family: "Intervogue";
  src: url("https://ninetypercent.com/cdn/shop/files/IntervogueRegular.woff?v=1660660715");
  font-weight: 400;
}
@font-face {
  font-family: "Intervogue";
  src: url("https://ninetypercent.com/cdn/shop/files/IntervogueMedium.woff?v=1679587739");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

body {
  display: flex;
  flex-direction: column;
  font: normal 400 16px/1.5 var(--base-font);
  margin: 0;
  min-height: 100vh;
}
body > main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  color: #707070;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

a {
  color: #000;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  display: block;
  font: normal 400 16px/1.5 var(--base-font);
  min-height: 44px;
  padding: 6px 12px;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #707070;
  font: normal 400 16px/1.5 var(--base-font);
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
  font: normal 400 16px/1.5 var(--base-font);
}
input::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* IE 10+ */
  color: #707070;
  font: normal 400 16px/1.5 var(--base-font);
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
  font: normal 400 16px/1.5 var(--base-font);
}

textarea {
  min-height: 150px;
  resize: vertical;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dedede;
  padding: 8px 16px;
  text-align: left;
}

th {
  white-space: nowrap;
}

thead {
  border-bottom: 1px solid #ddd;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  color: #707070;
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 6px;
  text-transform: uppercase;
  white-space: nowrap;
}

[x-cloak] {
  display: none !important;
}

.l-wrap, .l-wrap-1200, .l-wrap-800, .l-wrap-700, .l-wrap-600 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.l-wrap-fluid {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.l-wrap-600 {
  max-width: 600px;
}

.l-wrap-700 {
  max-width: 700px;
}

.l-wrap-800 {
  max-width: 800px;
}

.l-wrap-1200 {
  max-width: 1200px;
}

.l-col-2 {
  display: grid;
  gap: 32px 16px;
}
@media (min-width: 768px) {
  .l-col-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.l-col-3,
.l-col-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (min-width: 768px) {
  .l-col-3,
  .l-col-4 {
    width: calc(100% + 16px);
  }
}
@media (max-width: 767px) {
  .l-col-3 > *,
  .l-col-4 > * {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .l-col-3 > *,
  .l-col-4 > * {
    width: calc(50% - 16px);
  }
}

@media (min-width: 1024px) {
  .l-col-3 > * {
    width: calc(33.3333333333% - 16px);
  }
}

@media (min-width: 1024px) {
  .l-col-4 > * {
    width: calc(25% - 16px);
  }
}

.l-grid-of-200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.l-grid-of-250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.c-header {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  min-height: var(--header-min-height, 60px);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 9;
}
.c-header__content {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 2fr 1fr;
}
.c-header__brand {
  color: #000;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .c-header__brand {
    text-align: center;
  }
}
.c-header__hamburger {
  display: grid;
  height: 30px;
  width: 30px;
}
.c-header__hamburger > svg {
  width: 100%;
}
@media (min-width: 768px) {
  .c-header__hamburger {
    display: none;
  }
}
.c-header__hamburger .c-icon-x-mark {
  display: none;
}
.c-header__hamburger.is-open .c-icon-x-mark {
  display: block;
}
.c-header__hamburger.is-open .c-icon-bars {
  display: none;
}
.c-header__nav {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}
.c-header__nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .c-header__nav > ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}
.c-header__nav-main {
  justify-content: center;
}
@media (max-width: 767px) {
  .c-header__nav-main {
    background: #fff;
    display: block;
    height: calc(100vh - var(--header-min-height));
    left: 0;
    padding: 32px 16px;
    position: fixed;
    top: var(--header-min-height);
    transform: translateX(-100%);
    transition: transform 0.15s;
    width: 90vw;
  }
  .c-header__nav-main.is-visible {
    transform: translateX(0);
  }
}
@media (max-width: 767px) {
  .c-header__nav-account-li {
    display: none !important;
  }
}
.c-header__nav-link, .c-header__nav-dropdown-link {
  align-items: center;
  color: #707070;
  display: inline-flex;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.15s;
  white-space: nowrap;
}
.c-header__nav-link:hover, .c-header__nav-link:focus, .c-header__nav-dropdown-link:hover, .c-header__nav-dropdown-link:focus {
  color: #000;
}
.c-header__nav-link > svg, .c-header__nav-dropdown-link > svg {
  width: 20px;
}
.c-header__nav-icons {
  justify-content: end;
}
.c-header__nav-icons .c-header__nav-link {
  padding: 8px 12px;
}
@media (max-width: 767px) {
  .c-header__nav-icons .c-header__nav-link {
    padding: 8px;
  }
}
.c-header__nav-cart-link {
  padding-right: 0 !important;
  position: relative;
}
.c-header__nav-cart-link sup {
  align-items: center;
  background: red;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  font-size: 10px;
  height: 16px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: -8px;
  top: 0;
  width: 16px;
}
.c-header a[data-customer-name] {
  position: relative;
}
.c-header a[data-customer-name]::after {
  bottom: 0;
  content: "as " attr(data-customer-name);
  display: block;
  font-size: 0.8em;
  position: absolute;
  transform: translateY(7px);
}

.c-dropdown-menu-wrapper {
  position: relative;
}
.c-dropdown-menu-wrapper:hover .c-dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.c-dropdown-menu-wrapper > a {
  display: flex;
  align-items: center;
}
.c-dropdown-menu-wrapper > a > svg.c-icon-chevron-down {
  width: 16px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  margin-top: -1px;
}

.c-dropdown-menu {
  list-style: none;
}
@media (min-width: 768px) {
  .c-dropdown-menu {
    position: absolute;
    right: 16px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 10;
  }
}
.c-dropdown-menu > li > a {
  padding: 8px 16px 8px 32px;
  font-size: 11px;
  display: block;
}
@media (min-width: 768px) {
  .c-dropdown-menu > li > a {
    text-align: right;
    padding: 8px 21px 8px 16px;
  }
}

.c-header__nav-icons .c-dropdown-menu {
  right: 0;
}
.c-header__nav-icons .c-dropdown-menu > li > a {
  padding-right: 16px;
}

.c-btn {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 700;
  min-width: 150px;
  min-height: 50px;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: normal 700 14px/1.5 var(--base-font);
  transition: 0.15s;
}
.c-btn:hover, .c-btn:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.c-btn--pill {
  border-radius: 25px;
}
.c-btn--outline {
  background-color: transparent;
}
.c-btn--text {
  border-color: transparent;
  text-decoration: underline;
}
.c-btn--shadow {
  border-color: transparent;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
}
.c-btn--block, .c-btn--full {
  display: block;
  width: 100%;
}
.c-btn--black {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.c-btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.c-btn--small {
  padding: 6px 16px;
  font-size: 12px;
}
.c-btn--rounded {
  border-radius: 4px;
}

.c-article__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.c-article__blog-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;
  margin: 0 0 16px;
}
.c-article__published-date {
  color: #888;
  font-size: 14px;
  margin-top: 16px;
  display: inline-block;
}
.c-article__author {
  margin-top: 16px;
}
.c-article__copy ul,
.c-article__copy ol {
  padding-left: 40px;
}
.c-article__copy p + p {
  margin-top: 32px;
}
.c-article__copy li:not(:last-child) {
  margin-bottom: 16px;
}

.c-comment {
  border: 1px solid #ddd;
  margin: 0 0 16px;
  padding: 16px;
}
.c-comment__author-and-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px;
  gap: 16px;
}
.c-comment__author {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;
  background-color: yellow;
  color: #000;
  transform: rotate(-5deg) translate(-32px, -10px);
  border-radius: 2px;
}
.c-comment__created-at {
  color: #888;
  font-size: 0.8em;
}
.c-comment__posted-successfully, .c-comment__not-posted-successfully {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.c-comment__posted-successfully > svg, .c-comment__not-posted-successfully > svg {
  width: 20px;
  height: 20px;
  display: flex;
}
.c-comment__posted-successfully > svg {
  stroke: green;
}
.c-comment__not-posted-successfully > svg {
  stroke: red;
}

.c-form-groups {
  display: grid;
  gap: 16px;
}

.c-form-group {
  display: grid;
}
.c-form-group > label {
  display: block;
  margin: 0 0 5px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #888;
}
.c-form-group > input,
.c-form-group > textarea {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #fff;
  width: 100%;
  min-height: 40px;
  font: 400 16px/1 var(--base-font);
  transition: 0.2s;
}
.c-form-group > input:focus,
.c-form-group > textarea:focus {
  outline: none;
  border-color: #000;
}
.c-form-group > input::-webkit-input-placeholder,
.c-form-group > textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #888;
  font: 400 14px/1 var(--base-font);
}
.c-form-group > input::-moz-placeholder,
.c-form-group > textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
  font: 400 14px/1 var(--base-font);
}
.c-form-group > input::-ms-input-placeholder,
.c-form-group > textarea::-ms-input-placeholder {
  /* IE 10+ */
  color: #888;
  font: 400 14px/1 var(--base-font);
}
.c-form-group > input:-moz-placeholder,
.c-form-group > textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
  font: 400 14px/1 var(--base-font);
}
.c-form-group > textarea {
  min-height: 150px;
  resize: vertical;
}

.errors {
  border: 1px solid red;
  padding: 16px;
  position: relative;
  margin-top: 48px;
  margin-bottom: 24px;
}
.errors > ul {
  padding-left: 20px;
}
.errors::before {
  content: "Errors";
  position: absolute;
  top: 0;
  background: red;
  color: #fff;
  padding: 8px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-100%);
  left: -1px;
  padding-left: 16px;
  right: -1px;
}

.c-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.c-card {
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #dedede;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.c-card[data-card-no] {
  position: relative;
}
.c-card[data-card-no]::before {
  content: attr(data-card-no);
  position: absolute;
  font-size: 100px;
  color: #000;
  opacity: 0.05;
  left: 0;
  top: 0;
  line-height: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.c-card__img-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
}
.c-card__img-wrapper > .c-card__img,
.c-card__img-wrapper > img,
.c-card__img-wrapper > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.c-card__copy {
  padding: 24px;
}
.c-card__title > a {
  text-decoration: none;
  text-transform: none;
}
.c-card__title > a:hover, .c-card__title > a:focus {
  text-decoration: underline;
}

.c-product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.c-product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
.c-product-card a.c-product-card__img-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
}
.c-product-card__img-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
}
.c-product-card__img-wrapper > .c-card__img,
.c-product-card__img-wrapper > img,
.c-product-card__img-wrapper > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.c-product-card__title > a {
  text-decoration: none;
}
.c-product-card__copy {
  padding: 16px;
}

.c-product-page__content {
  display: grid;
  gap: 32px;
}
@media (min-width: 1024px) {
  .c-product-page__content {
    grid-template-columns: 1fr 1fr;
  }
}
.c-product-page__medias {
  display: grid;
}
.c-product-page__medias > * {
  width: 100%;
}
.c-product-page__infos {
  position: sticky;
  top: calc(var(--header-min-height) + 16px);
  align-self: start;
}
@media (min-width: 1024px) {
  .c-product-page__infos {
    max-width: 500px;
    min-width: 400px;
    margin: 0 auto;
    padding-top: 60px;
  }
}
.c-product-page__media {
  position: relative;
}
.c-product-page__media:not(:last-child) {
  margin: 0 0 8px;
}
.c-product-page__media.external_video, .c-product-page__media.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.c-product-page__media.external_video > *, .c-product-page__media.video > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
.c-product-page__media > img,
.c-product-page__media > iframe,
.c-product-page__media > video {
  width: 100%;
  display: block;
}
.c-product-page__vendor {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 0 8px;
}
.c-product-page__price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.c-product-page__quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}
.c-product-page__quantity-wrapper > input {
  width: 100px;
}

.c-badge {
  padding: 4px 12px;
  border-radius: 11px;
  background-color: yellow;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  min-height: 22px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}
.c-badge--red {
  background-color: red;
  color: #fff;
}
.c-badge--black {
  background-color: #000;
  color: #fff;
}
.c-badge--success {
  background-color: green;
  color: #fff;
}
.c-badge--gray {
  background-color: gray;
  color: #fff;
}

.c-cart-page td,
.c-cart-page th {
  border: 0;
  padding-left: 0;
}
.c-cart-page tbody td {
  padding: 32px 32px 32px 0;
  vertical-align: top;
}
.c-cart-page tr:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.c-cart-page th {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #707070;
  white-space: nowrap;
}
.c-cart-page__product-info {
  min-width: 200px;
}
.c-cart-page__remove-quantity-link {
  color: red;
}
.c-cart-page__remove-quantity-link > svg {
  width: 20px;
}
.c-cart-page__product-price {
  white-space: nowrap;
}
.c-cart-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.c-cart-page__checkout-section {
  border-top: 1px solid #dedede;
}
.c-cart-page__checkout-section-content {
  max-width: 300px;
  margin-left: auto;
}
.c-cart-page__quantity-input {
  width: 100px;
}
.c-cart-page__empty {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.c-cart-page__product {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 16px;
}
.c-cart-page__product-title > a {
  text-decoration: none;
}

.c-form .errors {
  margin-top: 28px;
}
.c-form__label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #707070;
}
.c-form__posted-successfully, .c-form__not-posted-successfully {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px 0;
  padding: 16px;
  border: 1px solid #dedede;
}
.c-form__posted-successfully > svg, .c-form__not-posted-successfully > svg {
  width: 20px;
  height: 20px;
  display: flex;
}
.c-form__posted-successfully {
  border-color: green;
}
.c-form__posted-successfully > svg {
  stroke: green;
}
.c-form__not-posted-successfully {
  border-color: red;
}
.c-form__not-posted-successfully > svg {
  stroke: red;
}

.c-search-container .c-search-form {
  position: fixed;
  left: 0;
  right: 0;
  top: var(--header-min-height);
  padding: 16px;
  background: #f9f9f9;
  display: none;
}
.c-search-container .c-search-form__group {
  position: relative;
}
.c-search-container .c-search-form input {
  border: 1px solid #dedede;
  padding-right: 50px;
  appearance: none;
}
.c-search-container .c-search-form input::-webkit-search-cancel-button {
  appearance: none;
}
.c-search-container .c-search-form button[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border: 0;
  background: transparent;
  right: 16px;
  color: #707070;
  cursor: default;
  pointer-events: none;
}
.c-search-container > svg {
  width: 20px;
  cursor: pointer;
}
.c-search-container > .c-icon-x-mark {
  display: none;
}
.c-search-container.is-clicked > .c-search-form {
  display: block;
}
.c-search-container.is-clicked > .c-icon-x-mark {
  display: block;
}
.c-search-container.is-clicked > .c-icon-search {
  display: none;
}

.c-search-page-search-form {
  max-width: 600px;
}
.c-search-page-search-form__group {
  display: flex;
  align-items: stretch;
  white-space: nowrap;
}

.c-custom-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.c-custom-pagination > span,
.c-custom-pagination > a {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: 0.15s;
  min-width: 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.c-custom-pagination > a:hover,
.c-custom-pagination > a:focus {
  background-color: #000;
  color: #fff;
}
.c-custom-pagination span {
  pointer-events: none;
  opacity: 0.5;
  border-color: #ddd;
}

.c-order-card {
  border: 1px solid #dedede;
  padding: 16px;
}
.c-order-card:not(:last-child) {
  margin-bottom: 32px;
}
.c-order-card__top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 62px;
}
.c-order-card__img-and-info {
  display: grid;
  gap: 16px;
}
@media (min-width: 500px) {
  .c-order-card__img-and-info {
    grid-template-columns: 150px 1fr;
  }
}
.c-order-card__delivery-address {
  max-width: 300px;
}
.c-order-card__info {
  max-width: 400px;
  min-width: 250px;
}
.c-order-card__fulfillment {
  border-top: 1px solid #ddd;
  margin-top: 32px;
  padding-top: 16px;
}

.c-hero-slider__slide {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: grid;
  align-items: end;
  position: relative;
}
@media (max-width: 767px) {
  .c-hero-slider__slide {
    align-items: center;
  }
}
.c-hero-slider__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.c-hero-slider__slide-content {
  text-align: center;
  padding: 16px 0 80px;
  padding-bottom: 80px;
  color: #fff;
}
@media (max-width: 767px) {
  .c-hero-slider__slide-content {
    padding: 16px 0;
  }
}

.c-link {
  display: inline-flex;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 1px solid;
  position: relative;
}
.c-link > svg {
  width: 16px;
  margin-left: 0;
  transition: 0.2s;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: 4px;
  transition: 0.2s;
  opacity: 0;
}
.c-link:hover svg, .c-link:focus svg {
  margin-left: 5px;
  opacity: 1;
}

.c-order-page__billing-address {
  min-width: 250px;
  max-width: 250px;
}
.c-order-page__transactions {
  min-width: 250px;
}

.c-footer {
  border-top: 1px solid #dedede;
  margin-top: auto;
}

.c-object-type {
  position: absolute;
  text-align: center;
  left: 8px;
  top: 8px;
  padding: 8px;
  background: red;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
}

.c-hr {
  width: 100%;
  height: 1px;
  background-color: #dedede;
}

.swiper {
  width: 100%;
  height: 400px;
}
@media (min-width: 768px) {
  .swiper {
    height: 600px;
  }
}
.swiper .swiper-wrapper {
  z-index: 7;
}
.swiper .swiper-slide > img,
.swiper .swiper-slide > iframe,
.swiper .swiper-slide > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}
.swiper .swiper-slide > iframe,
.swiper .swiper-slide > video {
  position: relative;
  z-index: 1;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 44px;
  height: 44px;
  display: grid;
  z-index: 8;
}
.swiper .swiper-button-next:after, .swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after,
.swiper .swiper-button-prev:after {
  color: #000;
  font-size: 24px;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #000;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mt-8 {
  margin-top: 8px;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mt-12 {
  margin-top: 12px;
}

.u-mt-16 {
  margin-top: 16px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mt-24 {
  margin-top: 24px;
}

.u-mt-30 {
  margin-top: 30px;
}

.u-mt-32 {
  margin-top: 32px;
}

.u-mt-36 {
  margin-top: 36px;
}

.u-mt-40 {
  margin-top: 40px;
}

.u-mt-48 {
  margin-top: 48px;
}

.u-mt-56 {
  margin-top: 56px;
}

.u-mt-62 {
  margin-top: 62px;
}

.u-mb-0 {
  margin: 0;
}

.u-mb-2 {
  margin-bottom: 2px;
}

.u-mb-4 {
  margin-bottom: 4px;
}

.u-mb-6 {
  margin-bottom: 6px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mb-12 {
  margin-bottom: 12px;
}

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mb-32 {
  margin-bottom: 32px;
}

.u-mb-36 {
  margin-bottom: 36px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-mb-48 {
  margin-bottom: 48px;
}

.u-mb-56 {
  margin-bottom: 56px;
}

.u-mb-62 {
  margin-bottom: 62px;
}

.u-mb-16-not-last-child:not(:last-child) {
  margin-bottom: 16px;
}

.u-m-auto {
  margin: auto;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-m-0 {
  margin: 0;
}

.u-my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.u-my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.u-my-62 {
  margin-top: 62px;
  margin-bottom: 62px;
}

.u-ml-8 {
  margin-left: 8px;
}

.u-ml-16 {
  margin-left: 16px;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pt-8 {
  padding-top: 8px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pt-12 {
  padding-top: 12px;
}

.u-pt-16 {
  padding-top: 16px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pt-24 {
  padding-top: 24px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pt-32 {
  padding-top: 32px;
}

.u-pt-36 {
  padding-top: 36px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-pt-48 {
  padding-top: 48px;
}

.u-pt-56 {
  padding-top: 56px;
}

.u-pt-62 {
  padding-top: 62px;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-8 {
  padding-bottom: 8px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pb-12 {
  padding-bottom: 12px;
}

.u-pb-16 {
  padding-bottom: 16px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pb-24 {
  padding-bottom: 24px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pb-32 {
  padding-bottom: 32px;
}

.u-pb-36 {
  padding-bottom: 36px;
}

.u-pb-40 {
  padding-bottom: 40px;
}

.u-pb-48 {
  padding-bottom: 48px;
}

.u-pb-56 {
  padding-bottom: 56px;
}

.u-pb-62 {
  padding-bottom: 62px;
}

.u-p-8 {
  padding: 8px;
}

.u-p-16 {
  padding: 16px;
}

.u-py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.u-py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.u-py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.u-py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.u-py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.u-py-62 {
  padding-top: 62px;
  padding-bottom: 62px;
}

.u-d-flex,
.u-d-f {
  display: flex;
}

.u-d-iflex,
.u-d-if {
  display: inline-flex;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-fd-column {
  flex-direction: column;
}

.u-flex-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.u-ai-center {
  align-items: center;
}

.u-ai-start {
  align-items: start;
}

.u-ai-end {
  align-items: end;
}

.u-jc-center {
  justify-content: center;
}

.u-jc-sb {
  justify-content: space-between;
}

.u-flex-1 {
  flex: 1;
}

.u-fg-1,
.u-flex-grow {
  flex-grow: 1;
}

.u-fg-child > *,
.u-flex-grow-child > * {
  flex-grow: 1;
}

.u-gap-8 {
  gap: 8px;
}

.u-gap-16 {
  gap: 16px;
}

.u-gap-24 {
  gap: 24px;
}

.u-gap-32 {
  gap: 32px;
}

.u-gap-16-32 {
  gap: 16px 32px;
}

.u-gap-32-16 {
  gap: 32px 16px;
}

.u-color-red {
  color: red;
}

.u-color-gray,
.u-text-gray {
  color: #707070;
}

.u-color-gray {
  color: #707070;
}

.u-bg-gray {
  background-color: #f5f5f5;
}

.u-d-grid {
  display: grid;
}

@media (min-width: 1024px) {
  .u-hidden-gte-1024 {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .u-hidden-lte-1023 {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .u-hidden-lte-767 {
    display: none !important;
  }
}

.u-text-normal {
  font-weight: normal;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-uppercase,
.u-text-upcase {
  text-transform: uppercase;
}

.u-text-lowercase,
.u-text-downcase {
  text-transform: lowercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-linethrough {
  text-decoration: line-through;
}

.u-no-underline,
.u-text-underline-none {
  text-decoration: none;
}

.u-underline,
.u-text-underline {
  text-decoration: underline;
}

.u-letter-spacing-1,
.u-text-ls-1 {
  letter-spacing: 1px;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-font-size-12 {
  font-size: 12px;
}

.u-w-auto {
  width: auto;
}

.u-w-full {
  width: 100%;
}

.u-w-20 {
  width: 20px;
}

.u-minw-auto {
  min-width: auto;
}

.u-minw-150 {
  min-width: 150px;
}

.u-maxw-600 {
  max-width: 600px;
}

.u-h-full {
  height: 100%;
}

.u-object-cover {
  object-fit: cover;
}

.u-position-relative {
  position: relative;
}

.u-table-wrapper {
  width: 100%;
  display: block;
  overflow: auto;
}

/*# sourceMappingURL=bundle.css.map */
