.c-btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font: normal 700 14px/1.5 var(--base-font);
  font-weight: 700;
  gap: 4px;
  justify-content: center;
  letter-spacing: 1px;
  min-height: 50px;
  min-width: 150px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.15s;

  &:hover,
  &:focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
    // border-radius: 25px;
  }

  &--pill {
    border-radius: 25px;
  }

  &--outline {
    background-color: transparent;
  }

  &--text {
    border-color: transparent;
    text-decoration: underline;
  }

  &--shadow {
    border-color: transparent;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  }

  &--block,
  &--full {
    display: block;
    width: 100%;
  }

  &--black {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &--small {
    font-size: 12px;
    padding: 6px 16px;
  }

  &--rounded {
    border-radius: 4px;
  }
}

.c-btn-link {
  border: 0;
  display: inline-block;
  letter-spacing: 0.5px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  width: auto;
}
