@use "../01-config/config" as *;

.c-cart-page {
  td,
  th {
    border: 0;
    padding-left: 0;
  }

  tbody td {
    padding: 32px 32px 32px 0;
    vertical-align: top;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: $text-color-gray;
    white-space: nowrap;
  }

  &__product-info {
    min-width: 200px;
  }

  &__remove-quantity-link {
    color: red;

    > svg {
      width: 20px;
    }
  }

  &__product-price {
    white-space: nowrap;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__checkout-section {
    border-top: 1px solid $border-color;
  }

  &__checkout-section-content {
    max-width: 300px;
    margin-left: auto;
  }

  &__quantity-input {
    width: 100px;
  }

  &__empty {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  &__product {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  &__product-title > a {
    text-decoration: none;
  }
}
