@use "../01-config/config" as *;

.c-dropdown-menu-wrapper {
  position: relative;

  &:hover .c-dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  > a {
    display: flex;
    align-items: center;
  }

  > a > svg.c-icon-chevron-down {
    width: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    margin-top: -1px;
  }
}

.c-dropdown-menu {
  list-style: none;

  @media (min-width: 768px) {
    position: absolute;
    right: 16px;
    width: 200px;
    // min-height: 100px;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: $header_dropdown_z_index;
  }

  > li > a {
    padding: 8px 16px 8px 32px;
    font-size: 11px;
    display: block;

    @media (min-width: 768px) {
      text-align: right;
      padding: 8px 21px 8px 16px;
    }
  }
}

.c-header__nav-icons {
  .c-dropdown-menu {
    right: 0;

    > li > a {
      padding-right: 16px;
    }
  }
}
