@use "../01-config/config" as *;

.c-order-card {
  border: 1px solid $border-color;
  padding: 16px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 62px;
  }

  &__img-and-info {
    display: grid;
    gap: 16px;

    @media (min-width: 500px) {
      grid-template-columns: 150px 1fr;
    }
  }

  &__delivery-address {
    max-width: 300px;
  }

  &__info {
    max-width: 400px;
    min-width: 250px;
  }

  &__fulfillment {
    border-top: 1px solid #ddd;
    margin-top: 32px;
    padding-top: 16px;
  }
}
