@use "../01-config/config" as *;

.c-product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.c-product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;

  a.c-product-card__img-wrapper {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
  }

  &__img-wrapper {
    padding-bottom: 56.25%; // 9:16 aspect ratio
    position: relative;
    display: block;

    > .c-card__img,
    > img,
    > svg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__title {
    > a {
      text-decoration: none;
    }
  }

  &__copy {
    padding: 16px;
  }
}
