@use "../01-config/config" as *;

.shopify-challenge {
  &__container {
    padding: 32px 16px;
  }

  &__message {
    margin-bottom: 16px;
  }

  &__button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 16px !important;
    transition: 0.15s;

    &:hover,
    &:focus {
      background-color: #000;
      border-color: #000;
      color: #fff;
    }
  }
}
